PROXMOX_VE_API_TOKEN="<user>@pam!tofu=<UUID>"
PROXMOX_VE_SSH_PRIVATE_KEY="/path/to/ssh/private/key"
AWS_ACCESS_KEY_ID="1234asdf"
AWS_SECRET_ACCESS_KEY="supersecretkey"
# Needed for Hetzner Cloud, otherwise the AWS provider will attempt to query the EC2 metadata service and fail
AWS_EC2_METADATA_DISABLED="true"
