.archive/
.terraform/
.terraform.*
.tfstate
.tfstate.*
.env
certs/
output/

*secret*.tfvars
*secret*.tfvars.json

**/*.tfplan

*.qcow2
*.raw

*.cert
*.key
*.pem
*.crt

components/terraform/**/*.planfile
components/terraform/**/*.tfstate
components/terraform/**/*.tf.json
components/terraform/**/*.terraform.tfvars.json
